.header-color {
  background-color: #d2d2d2;
}
.height-200 {
  height:200px;
}

.logo-nav {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 60px
}
.logo {
  height: 60px;
  width: 60px;
}



.three-columns p {
  text-align: justify;
}

.button-registration {
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-top: 100px;
}
.picture-bg {
  background-image: url(../img/kalnai.jpg);
  display:block;
  background-size: cover;
  background-position: center;
}

.navigation-list a {
  color: #000;
}
