
/*Global*/
.footer-margin-bottom {
  margin-bottom: 0;
}
hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.rotate:hover{
        -webkit-transform: rotateZ(30deg);
        -ms-transform: rotateZ(30deg);
        transform: rotateZ(30deg);
}
.threed:hover{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

a:hover{
  text-decoration: none;
}
.col-ms-12 {
  display: flex;
  justify-content: center;
}


body {
  background-color: #ffffff;
}

 li {
  display: inline;
  padding-left:  ;
  color: #ffffff;
}
.product-list a {  /* Detail.html "Produktai"*/
  display: block;
  font-style: oblique;
  color: #b8821d;
  line-height: 45px;
  font-size: 24px;

}
.current {
  font-weight: bold;
}


.detail-paragraph {  /* Detail.html "Produktai"*/
  margin-left: 100px;
}

.navbar-light .navbar-nav .nav-link { /* meniu spalvos*/
  color: rgba(236, 221, 10, 0.88);
}
.navbar-light .navbar-nav .active > .nav-link {
  color: rgba(246, 255, 9, 0.99);
}



 h5, .font-footer {
  font-family: 'Nosifer', cursive;
  color: rgba(236, 221, 10, 0.99);
}
.font-1 {
  font-family: 'Anton', sans-serif;
  color: #b8821d;
}
.font-2 {
  font-family: 'Anton', sans-serif;
}

.background-blue {
background-color: #92bdc7;
}
.bg3 {
  background-color: #f4feff;
}
.wrapper {
  box-shadow: 5px 0px 5px 5px rgba(72,94,116,0.5);
}

}
.aukstis-40 {
  min-height: 40px;
}
.aukstis-70{
  min-height: 70px;
}
.aukstis-300 {
  height: 400px;
}
.important-text {
  text-align: center;
}
.area-mr {
  margin-top: 15px;
  margin-bottom: 10px;
}
.mr-100 {
  margin-top: 60px;
}
.mr-50 {
  margin-top: 40px;
}
.mr-20 {
  margin-top: 20px;
}
.mr-top-16 {
  margin-top: 10px; /* searcho mygtuko marginas*/
}
.pd-left-0 {
  padding-left: 0;
}
.pd-right-0 {
  padding-right:  0;
}
.pd-left-40 {
  padding-left: 40px;
}
.mr-left-25 {
  margin-left: 25%; /* 4korteles apie biciu produkcija */
}



@media (max-width: 767px){
  .detail-paragraph{
    margin-left: 20px;
  }

}
