h1 {
    color: red;
}

nav {
    min-height: 100vh;
    height: 100vh;
}
.height-100 {
    min-height: 10vh;
    height: 10vh;
}

.height-300 {
    min-height: 80vh;
    height: 80vh;
}


.background-grey {
    background-color: #333333;
    border: solid 2px rebeccapurple;
    color: whitesmoke;
}

.background-light {
    
    background-color: whitesmoke;
    border: solid 2px rebeccapurple;
}

.background-pastel {
    background-color: #D0E4D6;
    border: solid 2px black;
}