h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    margin: 20px 40px;
    font-weight: 300;
  }


p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 40px;
  text-align: justify;
}

.header-color {
  width: 100%;
  height: 332px;
  background-color: #c0c1c0;
}

.logo-main {
  width: 124px;
  height: 124px;
  display: block;
  margin-top: 80px;
}

.menu-cont {
  background-color: #4D4D4D;
  height: 66px;
  width: 800px;
  padding-top: 10px;
  margin-top: -33px;
}

.menu-cont li a{
  color: #fff;
  width: 160px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
