*{
  /*remeliai skaiciuojami i elemento dydi*/
  box-sizing: border-box;
}
/*-------------------------------*/
h1 {
  color: red;
  text-align: center;
  text-transform: capitalize;
  font-size: 64px;
}

h2 {
  margin: 0;
}

h1, h2 {
  font-family: 'Arvo', serif;
}

article {
  background-color: #ddd;
  border: solid 1px #000;
  /*elementai i viena eilute*/
  width: 30.66%;
  float: left;
  margin-left: 2%;
  position: relative;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.first-title {
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  background-color: rgb(224, 125, 21);
  text-align: center;
  width: 120px;
  /*skraidymas*/
  position: absolute;
  top: 0;
  right: 0;
}

.second-title {
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  background-color: rgb(19, 227, 102);
  text-align: center;
  width: 120px;
  /*skraidymas*/
  position: absolute;
  top: 0;
  right: 0;
}

.last-title {
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  background-color: rgb(185, 29, 215);
  text-align: center;
  width: 120px;
  /*skraidymas*/
  position: absolute;
  top: 0;
  right: 0;
}
