h2 {
  color: white;
  padding-top: 70px;

}
body {
  width: 100%;
  padding: 0;
  margin: 0;
}
article {
  width: 33%;
  height: 200px;
  margin: 0;
  padding: 0;
  display: block;
  background-color: #2C323C;
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-fix {
  clear: both;
}

#article-3 {
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  #article-1, #article-4 {
    width: 50%;
  }
  #article-4 {
    float:right;
  }
  #article-2, #article-5 {
    visibility: hidden;
  }

}
@media (max-width: 424px) {
  #article-1, #article-2, #article-3 {
    width: 100%;
  }
  #article-4, #article-5 {
    display: none;
  }
#article-2 {
  visibility: visible;
  margin-top: 20px;
  }

}
