body {
  margin: auto;
  padding: 0;
  max-width: 80%;
}

h1 {
  text-align: center;
  color: #4B6060;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.item {
  border: 1px solid #4B6060;
  width: 30%;
  position: relative;
  background-color: azure;
}

h2 {
  width: 150px;
  margin: 0 0 10px 5px;
  padding-top: 3px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

p {
  margin: 0;
  padding: 15% 10% 10% 10%;
  text-align: justify;
}

.blue-background {
  background-color: #B0E9E9;
}

.purple-background {
  background-color: #BAC3EE;
}

.green-background {
  background-color: #CAF7BA;
}

@media only screen and (max-width: 900px)  {
  p {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .item {
    width: 45%;
    margin: auto;
  }
  .item3 {
    width: 95%; /*kodel 95?*/
    margin-top: 5%;
  }
}

@media only screen and (max-width: 600px)  {
  .item {
    width: 80%;
    margin: auto;
    margin-top: 5%;
  }
  .container {
    flex-direction: column;
  }
}
