
.fonas-grey {
  background-color: grey;
  border: 1px solid #000;
}
.fonas-light {
  background-color: purple;
  border: 1px solid #000;
}
nav {
  min-height: 100vh;
  height: 100vh;
}
header {
  min-height: 15vh;
  height: 15vh;
}
footer {
  min-height: 15vh;
  height: 15vh;
}
selection {
  min-height: 70vh;
  height: 70vh;
}
.border {
  border: 20px solid #000;
  height: 500px;
  background-color: yellow;
}
article, nav {
  margin: 15px;
}
