/*----------header-----------*/
h1 {
  text-align: center;
}
#main-header {
  text-shadow: dark;
  color: #fff;
}
.container {
  background: #A9A9A9;
  color: #333333;
  padding: 30px;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}
header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #333333;
}
.navigation {
  background: #FF80FF;
  margin: 5px 50px 5px 50px;
  padding: 10px;

}
input {
margin-left: 25px;

}
button {
  padding: 3px 31px;
  background: #333333;
  color: #ffffff;
}
.main-col {
  background: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
}
article {
  padding-left: 5px;
}
.main-aside {
  background: #FF80FF;
}
