* {
  box-sizing: border-box;
}
h2 {
  color: red;
  padding-top: 70px;
}
article {
  width: 30%;
  height: 200px;
  background-color: #b2b2b2;
  text-align: center;
  border: solid 1px red;
}
#art2, #art5 {
  float: right;
}
#art1, #art4 {
  float: left;
}
.clear-float {
  clear: both;
}
#art3 {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  #art2, #art5 {
    display: none;
  }
  #art4 {
    float: right;
  }
  article {
    width: 50%;
  }
}
@media (max-width: 425px) {
  #art4 {
    display: none;
  }
  #art2 {
    display: block;
  }
  article {
    width: 100%;
  }
  body {
    margin: 0;
  }
}
@media (max-width: 320px) {
  body {
    display: none;
  }
}
