header.row {
  background-color: red;
  height: 100%;
}
h1 {
  text-align: center;
  line-height: 150px;
}
nav img {
  max-height: 100px;
}
li {
  padding-right: 40px;
  font-size: 60px;
}
nav a {
  color: #000;
}
nav a:hover {
  color: #000;
}
.mygtukas {
  height: 200px;
  background-color: red;
}
.desinysfoto {
  padding-right: 0;
}
#logo {
  height: 45px;
}
