.img {
  border-radius: 50%;
  padding: 15px;
}
.img2 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.img3 {
  position: absolute;
  top: 50px;
  left: 15px;
}
.bg-color-dark-silver {
  background-color: #2E2E2E;
}
.brand {
  position: absolute;
  top: 55px;
  left: 75px;
  color: #fff;
  font-size: 40px;
}
.aukstis-125 {
  min-height: 125px;
}
.aukstis-250 {
  min-height: 250px;
}
.graf {
  position: absolute;
  top: 25px;
  right: 450px;
}
.hasas1 {
  color: #fff;
  text-align: center;
}
.p1 {
  color: #b2b2b2;
  text-align: justify;
}
.hasas2 {
  text-align: center;
}
.p2 {
  text-align: justify;
}
.dezute {
  border: solid 1px #000;
  background-color: #2E2E2E;
}
.nuoroda {
  color: #b2b2b2;
}


header.row {
  background-color: red;
  height: 100%;
}
nav img {
  max-height: 100px;
}
li {
  padding-right: 40px;
  font-size: 60px;
}
nav a {
  color: #000;
}
nav a:hover {
  color: #000;
}
.mygtukas {
  height: 200px;
  background-color: red;
}
.desinysfoto {
  padding-right: 0;
}
#logo {
  height: 45px;

}
#manoantraste {
  text-align: center;
  line-height: 150px;
}
