
h1 {
    color: red;
}
.aukstis-100 {
    min-height: 100px;
    height: 100px;
    display: block;
}
.aukstis-300 {
    min-height: 300px;
    height: 300px;
}
.fonas-grey {
    background-color: #b2b2b2;
    border: solid 1px red;
}
.fonas-ligth {
    background-color: #e2e9b2;
    border: solid 1px red;
}

$main1 :  #a1a1a1;
$main2 : #c4c4c4;
$main-font : 16;

.container-fluid {
    background-color: $main1;

    header {
        background-color: $main2;
    }
}
main a {
    color: #fff;
    &:hover {
        color : orange;
    }
    &:active {
        color : red;
    }
}
//---------------
$spalva1 : red;
$svoris3 : 300;
$svoris6 : 600;
section {
    h2 {
        color : $spalva1;
        font: {
            size : 29px;
            weight : $svoris6;
        }
    }
    p {
        font: {
            weight : $svoris6;
            size: 16px;
        }
    }
}
aside {
    color: $spalva1;
    font: {
        size: 29px;
        weight: $svoris3;
    }
    p {
        font: {
            size: 14px;
            weight: $svoris3;
        }
        &:hover {
            background-color: #a1a1a1;
        }
    }
}



//
/* */
